body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../images/voice to text login.png");
    color: grey;
}

.box{
    width: 350px;
    padding: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: grey;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    width: 100%;
    display: block;
    margin: 25px;
    margin-left: -9px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 15px 8px;
    background: none;
    border-radius: 24px;
    outline: none;
    height: 40px;
    color: #fff;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 100%;
    border-color: #2ecc71;
}

.box a[role = "button"]{
    border: 0;
    outline: none;
    display: block;
    margin: 25px;
    margin-left: -9px;
    text-align: center;
    border: 3px solid black;
    padding: 20px 60px;
    width: 250px;
    background: none;
    color: grey;
    border-radius: 22px;
    transition: 0.25s;
    cursor: pointer;
}

.box a[role = "button"]:hover{
    background: black;
}

.box a:link, a:hover {
    color: black;
}

.box button[type = "button"]{
    border: 0;
    outline: none;
    display: block;
    margin: 7px auto;
    text-align: center;
    padding: 10px 30px;
    background: none;
    color: grey;
    border-radius: 22px;
    transition: 0.25s;
    cursor: pointer;
}
